<launch>
<!-- Launch file for c16 LiDAR -->

    <arg name="rviz" default="true" />

    <!-- load map path from bash -->
    <arg name="map_save_path" default="/home/ysc/lite_cog/system/map/lite3" />
    <param name="map_file_path" type="string" value="$(arg map_save_path)"/>

    <rosparam command="load" file="$(find faster_lio)/config/c16.yaml" />

    <param name="user_name" type="string" value="nvidia"/>

    <param name="runtime_pos_log_enable" type="bool" value="0" />

    <param name="filter/z_min_range" type="double" value="-0.5" />    <!-- [추가] Z축 하한값 파라미터 설정 추가 -->
    <param name="filter/z_max_range" type="double" value="1.5" />     <!-- [추가] Z축 상한값 파라미터 설정 추가 -->

    <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" />

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find faster_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
